In [1]:
import duckdb

### get duckdb connection with spatial extension
def get_connection(db_file):
    conn = duckdb.connect(db_file, read_only=False)
    # checking spatial extention and install
    spatial_extension_query = conn.execute("SELECT * FROM duckdb_extensions() WHERE installed IS TRUE AND extension_name = 'spatial';").fetchone()
    if spatial_extension_query is None:
        print("Installing DuckDB spatial extension...")
        conn.execute("INSTALL spatial;")
    
    # loading spatial extension
    conn.execute("LOAD spatial;")
    return conn

In [2]:
con = get_connection('rs_data.db')

In [4]:
df = con.execute("DESCRIBE slc").fetchdf()
df

   column_name column_type null   key default extra
0   struct_typ     VARCHAR  YES  None    None  None
1   year_built     INTEGER  YES  None    None  None
2   no_stories     INTEGER  YES  None    None  None
3      sq_foot     INTEGER  YES  None    None  None
4     gsq_foot     INTEGER  YES  None    None  None
5     occ_type     VARCHAR  YES  None    None  None
6    appr_bldg      BIGINT  YES  None    None  None
7       dlevel     VARCHAR  YES  None    None  None
8         guid     VARCHAR  YES  None    None  None
9   COUNCIL_ID      BIGINT  YES  None    None  None
10        NAME     VARCHAR  YES  None    None  None
11        geom    GEOMETRY  YES  None    None  None

In [5]:
con.close()